flask
selenium
requests
scikit-learn
pandas
beautifulsoup4
werkzeug
python-dotenv
pdfplumber
transformers
torch
webdriver-manager
nltk
spacy
pyPDF2
pdfminer.six
fuzzywuzzy
python-Levenshtein
requests-html
lxml
bs4
fake-useragent
joblib
tqdm
